#back {
  position: auto;
  margin-top:2%;
  color:black;
  background-color: white;
}
.fr-box.fr-basic .fr-element {
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: auto;
    min-height: 40px;
}
