<map></map>
<div class="user">
  <user></user>
</div>
<div class='content' >
    <div class="leftcol">
      <a routerLink="/places" routerLinkActive="active" class="menu">Places</a>
      <a routerLink="/registration" routerLinkActive="active" class="menu">Registration</a>
      <a routerLink="/authorization" routerLinkActive="active" class="menu">Authorization</a>
      <a routerLink="/add-post" routerLinkActive="active" class="menu">Create new post</a>
      <router-outlet></router-outlet>
    <div>
</div>
