<div>
  <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
<div *ngIf="this.index" >
        <sebm-google-map-info-window>
          <strong><a [routerLink]="['/places', index]">{{content}}</a></strong>
        </sebm-google-map-info-window>
</div>
      </sebm-google-map-marker>
    </sebm-google-map>
</div>
